/* O ideal para começar um projeto é criando os arquivos e verificando todas as informações específicas daquele projeto, por exemplo, cores padrões, tipos e tamanhos de fontes, fazer a linkagem com os arquivos necessários, nesse caso, com o "styles.css" e após isso, realmente começar o projeto. */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');


/* A criação do ":root" para criar os padrões/variáveis de cores é muito importante, pois é através dela que podemos adicionar/editar com facilidade as cores do nosso projeto e ajuda muito na produtividade e facilidade nas mudanças, caso seja necessário, imagine que a empresa não tem essas variáveis padrão de cores e resolve mudar as cores do site, por conta de uma data específica, Natal, por exemplo, e resolve mudar tudo para vermelho, imagine o quão improdutivo seria mudar para as cores do Natal e depois retornar com as cores do site mesmo? */

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}


/* Este asterísco é como se a gente desse um reset nas configurações de fábrica do browser/navegador, na qual pode nos atrapalhar ao longo projeto, é como se a gente resetasse/zerasse a estrutura base do navegador. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", serif;
}

body {
    font-size: 1rem;
    background-color: var(--very-light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
}

.three-column-cards {
    display: flex;
    flex-direction: column; /* Deixando-o em coluna, para mobile */
    border-radius: 12px;
    overflow: hidden;
}

.card {
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.sedans {
    background-color: var(--bright-orange);
}
.suvs {
    background-color: var(--dark-cyan);
}
.luxury {
    background-color: var(--very-dark-cyan);
}

h3 {
    font-family: "Big Shoulders Display", serif;
    color: var(--very-light-gray);
    font-size: 4rem;
}

p {
    color: var(--transparent-white);
}

button {
    background-color: var(--very-light-gray);
    border: none;
    padding: 0.8rem;
    border-radius: 10px;
}

.sedans button {
    color: var(--bright-orange);
}
.suvs button {
    color: var(--dark-cyan);
}
.luxury button {
    color: var(--very-dark-cyan);
}